<header class="header">
  <div class="clearfix">
    <nav class="header__nav nav">
      <ul class="clearfix">
        <li><a ui-sref="main">Main</a></li>
        <li ng-if="!$ctrl.settings.isLogined"><a ui-sref="login">Login</a></li>
        <li ng-if="$ctrl.settings.isLogined"><a ui-sref="dashboard">My adverts</a></li>
        <li ng-if="$ctrl.settings.isLogined"><a class="header-button--messenger" ui-sref="messenger">My messages: <span>0</span></a></li>
        <li ng-if="$ctrl.settings.isLogined"><a ui-sref="balance">My balance: <span>0</span></a></li>
        <li ng-if="!$ctrl.settings.isLogined"><a class="header-button--new" ui-sref="login">Publish</a></li>
        <li ng-if="$ctrl.settings.isLogined" class="header-button--new"><a ui-sref="publish">Publish</a></li>
      </ul>
    </nav>
    <div class="header__share">

      <a href="#" class="share share--fb">

      </a>
      <a href="#" class="share share--gp">

      </a>
      <a href="#" class="share share--tw">

      </a>
      <a ui-sref="settings" class="share share--settings">
        <i class="material-icons">settings</i>
      </a>
    </div>
  </div>
  <div class="header__sub">
    <div class="header-map" id="header_map">

    </div>
    <div class="filters">
      <div class="input__block filters__block filters__block--query">
        <input id="query" ng-model="$ctrl.filters.query" type="text">
        <label for="query">Your query</label>
      </div>
      <div class="input__block filters__block filters__block--select">
        <select class="" ng-model="$ctrl.filters.type">
          <option value=""></option>
          <option value="houses">Houses</option>
          <option value="apartaments">Apartaments</option>
          <option value="land">Land</option>
        </select>
        <label for="query">Type</label>
      </div>
      <div class="input__block filters__block filters__block--select">
        <select class="" ng-model="$ctrl.filters.city">
          <option value=""></option>
          <option value="houses">Houses</option>
          <option value="apartaments">Apartaments</option>
          <option value="land">Land</option>
        </select>
        <label for="query">City</label>
      </div>
      <div class="input__block filters__block filters__block--clear" ng-if="$ctrl.filters.city || $ctrl.filters.query || $ctrl.filters.type">
        <button type="button" ng-click="$ctrl.clearForm()" name="button">Clear</button>
      </div>
    </div>
  </div>
</header>
