<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/public/styles.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="/node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="/public/app.js" charset="utf-8"></script>
    <script src="/public/main/main.component.js" charset="utf-8"></script>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <ul>
          <li><a href="/">Main</a></li>
          <li><a href="/publish/">Publish</a></li>
          <%
            if (current) {
              if (current.login) { %>
              <li>Howdy, <%= current.login %></li>
              <li><a href="/exit/">Exit</a></li>
            <% } else { %>
              <li><a href="/login/">Login</a></li>
            <%
              }
            } else { %>
              <li><a href="/login/">Login</a></li>
            <% }
          %>
        </ul>
      </nav>
    </header>
    <main class="main">
