<!DOCTYPE html>
<html ng-app="dashboardApp">
  <head>
    <title>Yigis - Realty marketplace in United Kingdom</title>
    <link rel='stylesheet' href='/public/styles.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Free classified in England with fast work and detailed statistic of selling">
    <meta name="keywords" content="classified, adverts, realty, houses, apartaments">
    <script src="/node_modules/babel-polyfill/dist/polyfill.min.js" charset="utf-8"></script>
    <script src="/node_modules/es6-shim/es6-shim.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-file-upload/dist/angular-file-upload.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/public/script.js" charset="utf-8"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmW62Lj6lcC2KoLBhYBuFJWi62LvIx-T8"></script>
  </head>
  <body>
    <base-component></base-component>
  </body>
</html>
