<!DOCTYPE html>
<html ng-app="dashboardApp">
  <head>
    <title>Project</title>
    <link rel='stylesheet' href='/public/styles.css' />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script src="/node_modules/angular/angular.min.js" charset="utf-8"></script>
    <script src="/node_modules/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/public/app.js" charset="utf-8"></script>
    <script src="/public/main/main.component.js" charset="utf-8"></script>
    <script src="/public/login/login.component.js" charset="utf-8"></script>
    <script src="/public/header/header.component.js" charset="utf-8"></script>
  </head>
  <body>
    <main class="main">
      <header-component>

      </header-component>
      <aside class="sidebar sidebar--left">

      </aside>
      <ui-view>

      </ui-view>
      <aside class="sidebar sidebar--right">

      </aside>
    </main>
    <footer class="footer">

    </footer>
  </body>
</html>
