*
  margin: 0
  padding: 0
@import url('https://fonts.googleapis.com/css?family=Open+Sans')
body
  font-size: 14px
  appearance: none
  outline: none
  font-family: 'Open Sans', sans-serif
  box-sizing: border-box
input, select, textarea, button
  appearance: none
  outline: none
  border: none
a
  text-decoration: none
  opacity: 1
  transition: 0.2s
  &:hover
    opacity: 0.7
    transition: 0.2s
::-webkit-scrollbar
  width: 0.5em
  height: 0.5em
::-webkit-scrollbar-thumb
  background: slategray
::-webkit-scrollbar-track
  background: #b8c0c8
.clearfix
  &:after
    content: ''
    display: block
    clear: both
ui-view
  margin-bottom: 25vh
  display: block
