.sidebar
  float: left
  width: 15%
  position: absolute
  height: 100%
  top: 0
  opacity: 0.7
  min-height: 100vh
  // TODO remove display none
  display: none
  &--left
    left: 0
    background: #2c324c
  &--right
    right: 0
    background: #2c97ab
  &__interesting
    padding: 12px 20px 10px
    & h3
      color: #ffffff
